.catalog {
	&__content__box {
		margin-top: 100px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		gap: 30px;
	}

	.product__item img {
		height: 420px;
	}

	.product__title {
		margin-top: 24px;
		font-size: 13px;
		line-height: 16px;
		line-height: 100%;
		vertical-align: Top;
		margin-bottom: 16px;
		color: #000;
	}

	.product__text {
		margin-top: 13px;
		font-size: 14px;
		line-height: 17px;
		line-height: 100%;
		vertical-align: Top;
		color: #000;
	}

	.product__price {
		margin-top: 18px;
		color: #f16d7f;
		font-size: 16px;
		line-height: 19px;
		line-height: 100%;
		vertical-align: Top;
	}
}

.paginate {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
	gap: 15px;

	& li a {
		border-radius: 7px;
		padding: 5px 15px;
		border: gray 1px solid;
		cursor: pointer;
	}

	& li.previous a,
	& li.next a,
	& li.break a {
		border-color: transparent;
	}

	& li.selected a {
		background-color: #f16d7f;
		border-color: transparent;
		color: white;
		min-width: 32px;
	}

	& li.disabled a {
		color: grey;
	}

	& li.disable,
	& li.disabled a {
		cursor: default;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.catalog__content__box {
		grid-template-columns: repeat(2, 1fr);
        justify-items: center;

		.pagination__content {
			margin-top: 60px;
			margin-bottom: 64px;
		}
	}
}

@media (min-width: 320px) and (max-width: 768px) {
	.catalog__content__box {
		grid-template-columns: 1fr;
        justify-items: center;

		.product__item:last-child {
			display: none;
		}

		.pagination__content {
			margin-top: 40px;
			margin-bottom: 64px;
		}
	}
}
