.products {
	&__content {
		
        margin-top: 65px;

		&__text {
			text-align: center;

			& h2 {
				font-family: Lato;
				font-size: 30px;
				line-height: 36px;
				line-height: 100%;
				vertical-align: Top;
			}
		}

		&__box {
			padding-top: 60px;
			padding-bottom: 96px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-content: center;
			gap: 30px;
		}
	}
}

.button__box {
	display: flex;
	justify-content: center;
    margin-bottom: 150px;
}

.button__link {
	margin-top: 48px;
	margin-bottom: 95.5px;
	color: #ff6a6a;
	border: 1px solid #ff6a6a;
	padding: 15px 39px 14px 39px;

	&:hover {
		background-color: #f16d7f;
		color: #fff;
		transition: all 0.3s;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
    .products {

        .products__content__box {
            
            margin-bottom: 32px;
            padding-bottom: 0;
            gap: 16px;
        }

        .button__link {
            margin-top: 0;
            margin-bottom: 65px;
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .products {

        .products__content__box {
            
            margin-bottom: 40px;
            padding-bottom: 0;
            gap: 16px;
        }

        .button__link {
            margin-top: 0;
            margin-bottom: 96px;
        }

        .products__content__text {

            & p {
                margin: 0 17px;
                font-size: 14px;
            }
        }
    }
}
