.catalog {
	&__content__box {
        margin-top: 100px;
		display: grid;
		grid-template-columns: repeat(auto-fit, 360px);
		justify-content: center;
		gap: 30px;
	}

	.product__item img {
		height: 420px;
	}

	.product__title {
		margin-top: 24px;
		font-size: 13px;
		line-height: 16px;
		line-height: 100%;
		vertical-align: Top;
		margin-bottom: 16px;
		color: #000;
	}

	.product__text {
		margin-top: 13px;
		font-size: 14px;
		line-height: 17px;
		line-height: 100%;
		vertical-align: Top;
		color: #000;
	}

	.product__price {
		margin-top: 18px;
		color: #f16d7f;
		font-size: 16px;
		line-height: 19px;
		line-height: 100%;
		vertical-align: Top;
	}
}


@media (min-width: 768px) and (max-width: 1024px) {
	.catalog {
		grid-template-columns: repeat(2, 1fr);

		// .product__item:last-child {
		// 	display: none;
		// }

		.pagination__content {
			margin-top: 60px;
			margin-bottom: 64px;
		}
	}
}

@media (min-width: 320px) and (max-width: 768px) {
	.container {
		max-width: 375px;
	}

	.catalog {
		grid-template-columns: 1fr;

		.product__item {
			max-width: 100%;
		}

		.product__item:last-child {
			display: none;
		}

		.pagination__content {
			margin-top: 40px;
			margin-bottom: 64px;
		}
	}
}
