.menu__nav-1 {
    //display: none;
    width: 232px;
    height: 634px;
    background: #FFF;
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    transition: right .3s;

    &__title {
        margin-left: 32px;
        margin-top: 32px;
        width: 232px;
        color: #000;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    & ul li {
        list-style: none;
    }
}

.first {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        color: #F16D7F;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 32px;
        margin-top: 20px;
    }
}

.second {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & a {
        display: block;
        color: #6F6E6E;
    }

    & li {
        display: block;
        font-size: 14px;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 53.5px;
        margin-top: 11px;
    }
}

.menu__nav-1 li a:hover{
	background: #2F718E;
    color: #fff;
}