.registration {

    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1fr;

    }

    
}

@media (min-width: 768px) and (max-width: 1024px) {

    .registration {

        &__content {
            margin: 0 16px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 22px;
        }

    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .container {
        max-width: 375px;
    }

    .registration {
        
        &__content {
            display: flex;
            flex-direction: column;

        }
    }
}