.container {
    max-width: 1140px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Lato', sans-serif;
}

.App {
    position: relative;
    overflow: hidden;
}