

.header {
    background-color: #222222;
    position: relative;
    
}

.header__content {

    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo a:first-child {
    margin-right: 41px;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    width: 168px;
    align-items: center;
}

.icon {
    cursor: pointer;
    color: #fff;
    width: 35px;
}

// #burger {
//     // position: absolute;
//     // visibility: hidden;

//     &:checked ~ .menu__nav-1 {
//         opacity: 1;
//         pointer-events: all;
//     }
// }

@media (min-width: 768px) and (max-width: 1024px) {
    .header {

        &__content {
            margin: 0 32px;
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    // .container {
    //     max-width: 375px;
    // }

    .header {

        &__content {
            margin: 0 16px;
        }
    
        .menu__nav {
            flex-direction: row-reverse;
    
            &__link {
                display: none;
            }
        }
    }
}



