.product__content {
	margin: 0 16px;
}

.product__title {
	margin-top: 24px;
	font-size: 13px;
	line-height: 16px;
	line-height: 100%;
	vertical-align: Top;
	margin-bottom: 16px;
	color: #000;
}

.product__text {
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 17px;
	line-height: 100%;
	vertical-align: Top;
	color: #000;
}

.product__price {
	margin-top: 18px;
	margin-bottom: 20px;
	color: #f16d7f;
	font-size: 16px;
	line-height: 19px;
	line-height: 100%;
	vertical-align: Top;
}